
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  
  body {
    font: 600 1rem/1.3 Consolas, Andale Mono, monospace;
    padding: 3rem;
    background: #383838;
  }
 
  .scanlines {
    background: linear-gradient(
      to bottom,
      rgba(255,255,255,0),
      rgba(255,255,255,0) 50%,
      rgba(0,0,0,0.2) 70%,
      rgba(0,0,0,0.6)
    );
    background-size: 100% 0.3rem;
    border-radius: 2rem;
    position: absolute;
  }
  
  
  .glow {
    animation: crt-glow 60s infinite; 
    background:
      radial-gradient(circle at center,
      rgba(27,212,89,1) 0%,
      rgba(27,212,89,0.88) 58%,
      rgba(21,235,92,0.57) 80%,
      rgba(19,94,29,0.27) 93%,
      rgba(10,23,12,0) 100%);
    
    opacity: 0.15;
    pointer-events: none; 
    position: fixed;
  }
  
  @keyframes crt-glow {
    0% { opacity: 0.1; }
    50% { opacity: 0.2; }
  }

  .piece {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
  }
  
  
  .noclick {
    pointer-events: none;
  }
  